In [2]:
def employee(id, name, email):
  print(f"id:{id},name:{name},email:{email}")

In [3]:
employee(21,"krishna","krishna@gmail.com")

id:21,name:krishna,email:krishna@gmail.com

In [4]:
employee("krishna",21,"krishna@gmail.com")

id:krishna,name:21,email:krishna@gmail.com

In [ ]:
def employee(id, name, email="krishna@gmail.com"):
  print(f"id:{id},name:{name},email:{email}")

employee(name="krishna",id=21,email="keshu@gmail.com")

id:21,name:krishna,email:keshu@gmail.com

In [5]:
def employee(id, name, email="krishna@gmail.com"):
  print(f"id:{id},name:{name},email:{email}")

employee(name="krishna",id=21)

id:21,name:krishna,email:krishna@gmail.com

In [6]:
def employee(id, name, email="krishna@gmail.com"):
  print(f"id:{id},name:{name},email:{email}")

employee(name="krishna",id=21,email="keshu@gmail.com")

id:21,name:krishna,email:keshu@gmail.com

In [ ]:
# variable length argument => *args
def employee(*var):
  print(var)
employee()
employee(10,20)
employee(10,20,"krishna","krishna@gmail.com")

()
(10, 20)
(10, 20, 'krishna', 'krishna@gmail.com')

In [ ]:
def employee(*var):
  print(var, type(var))
employee()
employee(10,20)
employee(10,20,"krishna","krishna@gmail.com")

() <class 'tuple'>
(10, 20) <class 'tuple'>
(10, 20, 'krishna', 'krishna@gmail.com') <class 'tuple'>

In [ ]:
# keyword variable length argument **kwargs
def employee(**var):
  print(var, type(var))
employee()
employee(id=10,salary=20)
employee(id=10,salary=20,name="krishna",email="krishna@gmail.com")

{} <class 'dict'>
{'id': 10, 'salary': 20} <class 'dict'>
{'id': 10, 'salary': 20, 'name': 'krishna', 'email': 'krishna@gmail.com'} <class 'dict'>

In [ ]:
# return keyword in function
def birthday(amount):
  print("amount is:",amount)

In [ ]:
print(birthday(100))
# again use print statment is none

amount is: 100
None

In [ ]:
out=birthday(100)
print(out)

amount is: 100
None

In [7]:
# write return and out of function
def investment(amount):
  return amount*10

In [ ]:
account=investment(4)
print("account:",account)

account: 40

In [11]:
def investment(amount):
  print(amount*10)
  return 50

In [12]:
account=investment(1000)
print("account:",account)

10000
account: 50

In [13]:
def investment(amount):
  print(amount*10)
  return "1crore"

In [14]:
account=investment(1000)
print("account:",account)

10000
account: 1crore

In [ ]:
#even True and False
x=20
if x%2==0:
  print("True")
else:
  print("False")

True

In [ ]:
#even True and False with function
def func(x):
  if x%2==0:
    print("True")
  else:
    print("False")

In [ ]:
output=func(20)
print("output",output)

True
output None

In [ ]:
func(20)

True

In [ ]:
func(15)

False

In [ ]:
#even True and False with function(return)
def func(x):
  if x%2==0:
    return ("True")
  else:
    return ("False")

In [ ]:
output=func(20)
print("output",output)

output True

In [ ]:
func(40)

'True'

In [ ]:
# make function average marks in 5 subject(parametar) and marks average check print a average value.
def average_marks(a,b,c,d,e):
   return(a+b+c+d+e/5)

In [ ]:
out=average_marks(20,30,40,50,60)
print("output",out)

if(out>=90):
  print("he is a topper with",out)
else:
  print("he is a passed candiate with avg",out)

output 152.0
he is a topper with 152.0

In [ ]:
# palindrom number
num =243
temp = num
reverse = 0
while (temp > 0):
    digit = temp % 10
    reverse = (reverse * 10) + digit
    temp //= 10
if (num == reverse):
    print(num, "is a Palindrome")
else:
    print(num, "is not a Palindrome")

243 is not a Palindrome

In [16]:
# palindrom number with function
def palindrome(num):
  temp = num
  reverse = 0
  while (temp > 0):
    digit = temp % 10
    reverse = (reverse * 10) + digit
    temp //= 10
  if (num == reverse):
    print(num, "is a Palindrome")
  else:
    print(num, "is not a Palindrome")

In [ ]:
palindrome(234)

234 is not a Palindrome

In [17]:
palindrome(101)

101 is a Palindrome

In [18]:
def palindrome(num):
  temp = num
  reverse = 0
  while (temp > 0):
    digit = temp % 10
    reverse = (reverse * 10) + digit
    temp //= 10
  if (num == reverse):
      return (f"{num} is a Palindrome")
  else:
      return (f"{num} is not a Palindrome")

In [19]:
palindrome(243)

'243 is not a Palindrome'

In [36]:
num=4
for i in range(1,num+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")
for i in range(1,num):
  for j in range(i,num):
    print("*",end=" ")
  print(" ")

*
* *
* * *
* * * *
* * *
* *
*

In [38]:
def star(num):
  for i in range(1,num+1):
    for j in range(1,i+1):
      print("*",end=" ")
    print(" ")
  for i in range(1,num):
    for j in range(i,num):
      print("*",end=" ")
    print(" ")

star(7)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# First class functions
def func():
  print("hey")

print(func)
x=func
print("x:",x)
x()
func()

<function func at 0x7e873ee991c0>
x: <function func at 0x7e873ee991c0>
hey
hey